
#FirstScreen {
   //-fx-background-color: blueviolet 
       
}
#mainSplitPane3 {
    -fx-background-color: white
}
#mainSplitPane {
    -fx-background-color:blueviolet
    
}

#secondAnchor {
    -fx-background-color:blueviolet
    
}
#lblSucessMessage {
    -fx-background-color:white
      
}
#lblTitleMessage {
 
}
